<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <% include ./partials/_header %>
  </head>
  <title>TinyApp</title>
  <style>
    table, th, td {
    border: 2px solid black;
    }
    th {
    text-align: left;
    }
  </style>
</head>
<body>
  <table style="width:700px">
    <caption style="font-size:24px;""><b> Shortened URLs </b></caption>
    <tr>
      <th>URL</th>
      <th>SHORT URL</th>
      <th>LINK</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <tr>
      <% for (var key in urls) { %>
      <td><%= urls[key].longurl %></td>
      <td><%= key %></td>
      <td><a href="<%= urls[key].longurl %>">Go To URL</a></td>
      <td><a href="/urls/<%=key%>">
        Edit 🖊️
      </a></td>
      <td><form method="POST" action="/urls/<%= key %>/delete">
        <input type="submit" value="Delete 🗑️">
      </form></td>
    </tr>
      <% } %>
</table>
</body>
</html>