<!DOCTYPE html>
<html lang="en">
      <% if (flash) { %>
        <p class="error"><%= flash %></p>
      <% } %>
<head>
    <!-- <head> -->
    <% include ./partials/_header %>
    <!-- </head> -->
  <title>TinyApp</title>
</head>
  <body style="font-size:20px; padding:50px;">
  <form action="/urls/<%=shorturl%>" method="POST" style="margin:150px;">
      <label for="longURL">Short URL:<b>http://localhost:8080/u/<%= shorturl %></b></label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= longurl %>" style="width: 300px">
      <input type="submit" value="Update">
      <%=  %>
    </form>
</body>
</html>